body {
    -webkit-font-smoothing: antialiased;
    background-color: #1a202c;
    background-color: rgba(26,32,44,1);
}

.bg-gray {
    background-color: #3e3e3e !important;
}

.text-green {
    color: #1ec11e;
}

.rounded-4 {
    border-radius: .4rem !important;
}

.rounded-5 {
    border-radius: .5rem !important;
}

#main_content input::placeholder {
  opacity: 0.5;
}

#main_content .nav-tabs {
    border-bottom: 0;
}

#main_content .nav-tabs .nav-link {
    color: #fff;
    background-color: #595959;
}

#main_content .nav-tabs .nav-link.active {
    background-color: #3e3e3e;
    color: #fff;
    border: 1px solid transparent;
}

#main_content .tab-content {
    border-top-right-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

#main_content #sharesResultSection #numOfSharesResultInput {
    background: transparent;
    border: 0;
    color: #1ec11e;
}

#numOfSharesResultInput:active, #numOfSharesResultInput:focus {
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

#main_content #sharesResultSection .input-group-text {
    background: transparent;
    border: 0;
}
